html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 100%;
	overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headings;
}

main[role="main"] {
  	min-height: 90vh;
}

.container {
	margin-top: 10rem;
}