.fp-video {
  	margin-top: 5rem;
	height: $cinema * 1vw; //This gives a nice 2.35:1 aspect ratio
	background: $burgundy;	//we give it a background so that it's visible during prototyping
	padding: 0;
	>iframe {
		width: 100vw;
		height: $cinema * 1vw;
	}
	h2 {
		color: white;
		margin-top: 100/2.35 * 0.5 * 1vw;
		text-align: center;
	}
}
.articles {
	.article-mini {
		h2 {
			text-align: center;
			color: white;
			padding-top: 10rem;
			padding-bottom: 10rem;
			background: $deepblue;
		}
	}
}