.members {
	section {
	  margin-bottom: 4rem;
	}
  	.member-pic {
		width: 100%;
		padding-bottom: 100%;
		margin: 0 auto;
		overflow: hidden;
	  	border-radius: 200px;
			img {
			  border-radius: 200px;
			  width: 100%;
			  z-index: 3;
			}
	  }
}