//Colours

$orange: #c48349;
$dullorange: #95785e;
$burgundy: #9f1d35;
$deepblue: #002966;

//Aspect ratios (height)

$widescreen: 100/(16/9);
$cinema: 100/2.35;

//fonts
$headings: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;